@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-accent: var(--color-neutral-800);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */

.review-swiper-pagination .swiper-pagination-progressbar-fill {
    background: #18181b;
    /* Warna hitam/abu-abu gelap */
    height: 3px;
}

.review-swiper-pagination.swiper-pagination-progressbar {
    background: #e5e7eb;
    /* Warna abu-abu terang */
    height: 3px;
}

.dark .review-swiper-pagination .swiper-pagination-progressbar-fill {
    background: #ffffff;
    /* Warna putih di dark mode */
}

.dark .review-swiper-pagination.swiper-pagination-progressbar {
    background: #3f3f46;
    /* Warna abu-abu gelap di dark mode */
}

.lapangan-slider .swiper-button-next,
.lapangan-slider .swiper-button-prev {
    color: #26c517;
    /* Tailwind red-700 */
    background: rgba(255, 255, 255, 0.7);
    border-radius: 9999px;
    width: 40px;
    height: 40px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
}

.lapangan-slider .swiper-button-next:after,
.lapangan-slider .swiper-button-prev:after {
    font-size: 20px;
    font-weight: bold;
}

.lapangan-slider .swiper-button-next:hover,
.lapangan-slider .swiper-button-prev:hover {
    background: #26c517;
    color: #fff;
}